# Development Postgres / Neon
DATABASE_URL=

# Dirección Meteorológica de Chile (DMC)
DMC_USER=
DMC_TOKEN=
DMC_DEFAULT_STATION=330021

# Observatorio Logístico / MTT
OBSERVATORIO_LOGISTICO_API_KEY=

# Biblioteca del Congreso Nacional / LeyChile v1
LEYCHILE_API_KEY=

# Banco Central de Chile / BDE REST API
BCCH_BDE_TOKEN=

# Coordinador Eléctrico Nacional / SIP
CEN_SIP_API_KEY=

# Comisión Nacional de Energía / API CNE
CNE_API_TOKEN=
